body{
  background-color: transparent !important;
}

.logo{
  height: 30px;
  width: auto;
}

.container{
  margin-top: 30px;
}

.col-md-4.column.centerspace{
  background-color: rgba(255, 255, 255, 0.67);
  padding: 20px;
  border-radius: 10px;
}

li.email{
  color: white;
  margin-top: 15px;
}

#login-btn1.btn-success {
  color: #ffffff;
  background-color: #f07955;
  border-color: #ea5e46;
}

#login-btn1.btn-success:hover,
#login-btn1.btn-success:focus,
#login-btn1.btn-success:active,
#login-btn1.btn-success.active,
.open #login-btn1.dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #ea5e46;
  border-color: #d24b40;
}
