body{
  background-color: transparent !important;
}

.logo{
  height: 30px;
  width: auto;
}

.container{
  margin-top: 30px;
}

.col-md-4.column.centerspace{
  background-color: rgba(255, 255, 255, 0.67);
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

li.email{
  color: white;
  margin: 10px;
  margin-top: 17px;

}

.logout{
  margin-top: 14px;
  margin: 10px;
}

#login-btn1.btn-success {
  color: #ffffff;
  background-color: #f07955;
  border-color: #ea5e46;
}

#login-btn1.btn-success:hover,
#login-btn1.btn-success:focus,
#login-btn1.btn-success:active,
#login-btn1.btn-success.active,
.open #login-btn1.dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #ea5e46;
  border-color: #d24b40;
}

.gamepiece{
  padding-top: 20px;
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
}

.picked{
  height: 400px;
  width: auto;
  border: 1px solid black;
}

.timer{
  text-align: center;
}
