.row.clearfix
  .col-sm-4.column
  .col-sm-4.column
    form(role='form' action='/login' method='post')
      input(name='auth-type' value='#{type}' hidden='true')
      .form-group
        label(for='emailinput1') Email
          input.form-control#emailinput1(type='email' name='email')
      .form-group
        label(for='passwordinput1') Password
          input.form-control#passwordinput1(type='password' name='password')
      if(type==='register')
        .form-group
          label(for='nameinput1') Name
            input.form-control#nameinput1(type='text' name='name')
      button.btn.btn-default(type='submit' class='#{type}') Submit
  .col-sm-4.column
