extends ../shared/template

block content
  h1 Game Index - Matches
  div
    h3 Number of Available Games:
      p= games.length
  form(action='/games', method='POST')
    button.newgame.btn.btn-default New Game

  table
    thead
      tr
        th Users
        th Join a Game!
    tbody
      each game in games
        tr
          td= game._id
          td
            a(href='/games/#{game._id}').joingame.btn.btn-default Join Game
