extends ../shared/template

block content
  #wrapper
    .container
      .row.clearfix
          .col-md-12.column
            .page-header
              h3.tagline Available Games
        .row.clearfix
          .col-md-12.column
            dl
              dt Number of Available Games
              dt.count= games.length

            form(action='/games', method='POST')
              button.btn.btn-info.newgame New Game
            table#availablegames.table.table-hover
              thead
                tr
                  th
                    | Users
                  th
                    | Join a Game!
              tbody
                each game in games
                  tr
                    td(data-gameId=game._id.toString())= game.p1Id
                    td
                      form(action='/games/#{game._id}' method='post')
                        //- input(type='hidden' name='_method' value='put')
                        button.btn.btn-success.btn-default.joingame Join Game

block scripts
  script(src='/js/es6/compiled/games.js')
