extends ../shared/template

block content
  h2= game._id
  h2= game.p1Id
  .container
    .row.clearfix
        .col-md-12.column
          h3.timer
            | a cool timer goes here
      .row.clearfix
        .col-md-6.column.picked
        .col-md-6.column.picked
      .row.clearfix
        .col-md-4.column
          img.gamepiece#rock(src='/img/rock.png')
        .col-md-4.column
          img.gamepiece#paper(src='/img/paper.png')
        .col-md-4.column
          img.gamepiece#scissors(src='/img/scissors.png')
          
block scripts
  script(src='/js/es6/compiled/games.js')
