extends ../shared/template

block content
  h2= game._id
  h2= game.p1Id
  .container
    .row.clearfix
        .col-md-12.column
          h3.timer 0:00
      .row.clearfix
        .col-xs-6.picked.p1(style='background-image: url("/img/question.png");')
        .col-xs-6.picked.p2(style='background-image: url("/img/question.png");')
      .row.clearfix
        .col-xs-6.column.controls
          img.gamepiece.rock(src='/img/rock.svg')
          img.gamepiece.paper(src='/img/paper.svg')
          img.gamepiece.scissors(src='/img/scissors.svg')
        .col-xs-6.column.controls
          img.gamepiece.rock(src='/img/rock.svg')
          img.gamepiece.paper(src='/img/paper.svg')
          img.gamepiece.scissors(src='/img/scissors.svg')



block scripts
  script(src='/js/es6/compiled/games.js')
  script(src='/js/es6/compiled/playgame.js')
